#bg-image {
  background-image: url('bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 15%;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #444444;
  font-size: 400%;
  font-weight: bold;
}