#bg-image {
  background-image: url('bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  padding-top: 15%;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 400%;
  font-weight: bold;
  background-color: blue;
  opacity: 0.6;
}

@media(max-width: 768px) {
  #bg-image {
    padding-top: 50%;
  }  
  p {
    font-size: 270%;
  }  
}